<div class="container listar">

    <!-- <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          <img src="../assets/imagens/pokebola.ico" width="30" height="30" class="d-inline-block align-top" alt="">
          Pokemon TCG
        </a>
    </nav> -->
    <div class="row">

        <div class="col-12">
            <form [formGroup]="formSearch">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Pokemon name to search"
                        aria-label="Pokemon name to search" aria-describedby="btn-search" formControlName="name">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="btn-search"
                            (click)="buscarPokemon()">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-12">
            <div class="row">

                <div class="col-12 col-md-6 col-xl-4 mt-3 h-100" *ngFor="let pokemon of pokemons">
                    <div class="card text-white bg-secondary link " (click)="detalhesPokemon(pokemon.id)">
                        <div class="col-12 text-center">
                            <img class="img-fluid" [src]="pokemon.imageUrl">
                        </div>

                        <h5 class="card-title text-center mt-2">{{pokemon.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-center ">{{pokemon.id}}</h6>

                        <div class="card-body text-center">
                            <div class="row">

                                <div class="col-12 d-flex justify-content-center">
                                    <div>
                                        <strong>Types:</strong>
                                    </div>
                                    <div class="pl-2">
                                        <span *ngFor="let type of pokemon.types">{{type}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>